[submodule "src/lib/tbb"]
	path = src/lib/tbb
	url = https://github.com/dwaddington/tbb.git
[submodule "src/lib/libzyre"]
	path = src/lib/libzyre
	url = https://github.com/dwaddington/zyre.git
	branch = v2_branch
[submodule "src/lib/GSL"]
	path = src/lib/GSL
	url = https://github.com/microsoft/GSL.git
	branch = v3.0.1
